<TR id="head">

    <TD id="logo">
        <IMG id="logoimg" src="/static/bully/logo.png">
    </TD>

    <TD id="head">
        <P>Министерство природных ресурсов и экологии Российской Федерации</P>
        <P>Федеральная служба по гидрометеорологии и мониторингу окружающей среды</P>
        <P>Федеральное государственное бюджетное учреждение</P>
        <P>Приволжское управление по гидрометеорологии и мониторингу окружающей среды</P>
        <P>гидрометеорологический центр</P>
    </TD>

    <TD id="localtime">

    </TD>

</TR>